<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
    <link rel="stylesheet" href="/public/css/about.css">
</head>
<body>
    
    <div id="main">
        <div id="navbar">
          <ul>
            <il><a href="/views/login.html">Login</a></il>
          </ul>
        </div>

    <h1>DAYSTAR DAYCARE</h1>
    <p>
        At daystar daycare we believe that GOD is love and we extend that affection, passion and compassion
        to the children entrusted to us
      </p>
  
</body>
</html>