<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/Admin.css">
</head>
<body>
    <div class="dashboard">
        <div id="main">
            <div id="navbar">
              <ul>
                <il><a href="/views/logout.html" class="button">Logout</a></il>
              </ul>
            </div>
            <h1>Daystar Admin Dashboard</h1>
              <div id="content">
                <div id="left">
                  <img src="/public/assets/images/babbies.jpg" width="190">
                  <a href="/views/babbies.html">BABBIES</a>
                  <img src="/public/assets/images/parents.jpg" width="200" height="140">
                  <a href="/views/parents.html">PARENTS</a>
                </div>
                  <div id="right">
                    
                        <img src="/public/assets/images/sittars.jpg" width="200">
                    <a href="/views/sitters.html">SITTERS</a>
                
                    <img src="/public/assets/images/payments.png" width="170" height="130">
                    <a href="/views/payments.html">PAYMENTS</a>
                  </div>
                  <div id="middle">
                    <img src="/public/assets/images/bg.jpg" width="200">
                    <a href="/views/dollstall.html">DOLLSTALL</a>
                  </div>
                </div>
          <div id="footer"> </div>
       
</body>
</html>
