doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Babbies
  link(rel='stylesheet' href='/assets/boostrap/css/boostrap.css')
  link(rel='stylesheet' href='/css/babbies.css')

#main
  #container
    #rol
    h5 BABBIES CHECKIN FORM
    form#submit.entry-form(action='/babbiescheckinlist' method='POST')
      .input
        label(for='babbies-name')  
        input.form-control.babbies-text-form(type='text' placeholder='BABYNAME' name='babyName' id='Babyname')
      br
      .form-group
        label(for="parent's-name")  
        input.form-control.babbies-text-form(type='text' placeholder="PARENT'S NAME" name='parentsName' id='ParentsName')
      br
      .form-group
        label(for='babby-number')  
        input.form-control.babbies-text-form(type='text' placeholder='BABBY NUMBER' name='idNo' id='IdNo')
      br
      .form-group
        label(for='time')  
        input.form-control.babbies-text-form(type='text' placeholder='TIME' name='time' id='time')
      br
      .form-group
        label(for='broughtby')  
        input.babbies-text-form(type='text' placeholder='BROUGHTBY' name='broughtBy' id='broughtby')
      br
      button.btn-primary(type='submit') checkin
script(src='/js/validation.js')
script(src='/assets/boostrap/js/boostrap.bundle.js')
