doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Babbies
  link(href='/assets/boostrap/css/boostrap.css')
  link(rel='stylesheet' href='/css/babbies.css')

#main
  #container
    #rol
    h5 BABBIES FORM
    form#submit.entry-form(action='/babbies' method='POST')
      .input
        label(for='babbies-name')  
        input.babbies-text-form(type='text' placeholder='BABYNAME' name='Babyname' id='Babyname')
      br
      .form-group
        label(for='babbies-age')
        input.babbies-text-form(type='number' placeholder='AGE' name='Age' id='Age')
      br
      .form-group
        label(for='gender ')  
        select#gender(name='gender')
          option(value='') GENDER
          option(value='male') male
          option(value='female') female
      br
      .form-group
        label(for='favorites')  
        input.babbies-text-form(type='text' placeholder='FAVORITES' name='Favorites' id='Favorites')
      br
      .form-group
        label(for='health-status')  
        input.babbies-text-form(type='text' placeholder='HEALTH STATUS' name='HealthStatus' id='HealthStatus')
      br
      .form-group
        label(for="parent's-contact")  
        input.babbies-text-form(type='text' placeholder="PARENT'S CONTACT" name='ParentsContact' id='ParentsContact')
      br
      .form-group
        label(for="parent's-name")  
        input.babbies-text-form(type='text' placeholder="PARENT'S NAME" name='ParentsName' id='ParentsName')
      br
      .form-group
        label(for='next-of-kin')  
        input.babbies-text-form(type='text' placeholder='NEXT OF KIN' name='NextOfKin' id='NextOfKin')
      br
      .form-group
        label(for='babby-number')  
        input.babbies-text-form(type='text' placeholder='BABBY NUMBER' name='IdNo' id='IdNo')
      br

      .form-group
        label(for='allergies')  
        input.babbies-text-form(type='text' placeholder='ALLERGIES' name='Allergies' id='Allergies')

      br
      button.btn-primary(type='submit') register
script(src='/js/babbies.js')
script(src='/assets/boostrap/js/boostrap.bundle.js')
