doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Babbies
  link(href='/assets/boostrap/css/boostrap.css')
  link(rel='stylesheet' href='/css/babbies.css')

#main
  #container
    #rol
    h5 BABBIES FORM
    form#submit.entry-form(action='babbies.html')
      .input
        label(for='babbies-name')  
        input.babbies-text-form(type='text' placeholder='FULLNAME' name='Enterbabayname')
      br
      .form-group
        label(for='babbies-age')
        input.sitters-text-form(type='number' placeholder='AGE')
      br
      .form-group
        label(for='gender ')  
        select#gender(name='gender')
          option(value='') GENDER
          option(value='male') male
          option(value='female') female
      br
      .form-group
      label(for='favorites')  
      input.sitters-text-form(type='text' placeholder='FAVORITES' name='babbieslikes')
  br
  .form-group
    label(for='health-status')  
    input.sitters-text-form(type='text' placeholder='HEALTH STATUS' name='Enter health difficulties if any')
  br
  .form-group
    label(for="parent's-contact")  
    input.sitters-text-form(type='text' placeholder="PARENT'S CONTACT" name='contactdetails')
  br
  .form-group
    label(for="parent's-name")  
    input.babbies-text-form(type='text' placeholder="PARENT'S NAME" name='both names')
  br
  .form-group
    label(for='next-of-kin')  
    input.sitters-text-form(type='text' placeholder='NEXT OF KIN' name='anyoneelsetopickupthebabby')
  br
  .form-group
    label(for='babby-number')  
    input.sitters-text-form(type='text' placeholder='BABBY NUMBER' name='idno')
  br
  button.btn-primary(type='submit') register
script(src='/js/babbies.js')
script(src='/assets/boostrap/js/boostrap.bundle.js')
