doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/login.css')
#main
  h1 WELCOME TO DAYSTARDAYCARE
  p
    | At daystar daycare we believe that GOD is love and we extend that affection, passion and compassion
    | to the children entrusted to us
  .container
    .row
      .col
        form#login(onsubmit='validationForm()' action='/login' method='POST')
          .input
            label.form-label Email
            input.form-control(name='email' type='text' placeholder='')
          .input
            label.form-label(name='password') Password
            input.form-control(name='password' type='password' placeholder='')
          #login-message
            button.btn-primary(type='submit') Login
              
                
script(src='/js/validation.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
