<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="/public/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div id="main">
    <h1>WELCOME TO DAYSTARDAYCARE</h1>
    <p>
      At daystar daycare we believe that GOD is love and we extend that affection, passion and compassion
      to the children entrusted to us
    </p>
    <div class="container">
      <div class="row">
        <div class="col">
          <form id="login">
            <div class="input">
              <label class="form-label" class="form-label">Email</label>
              <input class=" form-control" name="email" type="text" placeholder="">
            </div>

            <div class="input">
              <label class="form-label" name="password" class="form-label">Password</label>
              <input class="form-control" name="password" type="password" placeholder="">
            </div>
            <div id="login-message"></div>
            <div>
              <button class="btn btn-primary" type="submit">login</button>
              <ul>
                <il><a href="/views/Admin.html">Admin</a></il>
              </ul>
            </div>
          </form>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="../javascript/login.js"></script>
  <script src="/public/assets/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>