<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payments</title>
</head>
<link rel="stylesheets" href="/css/pay.css">
<body>
   <div class="container">
<form action="#">
<div class="row">
<div class="col">
<h3>Payments</h3>
</div>
<div class="inputBox">
    <label for="name">Full Name</label>
    <input type="text" id="name" placeholder="Enter your Full Name">
</div>

</div>
<div class="inputBox">
    <label for="name">Email</label>
    <input type="text" id="name" placeholder="Enter email address">
</div>
<div class="inputBox">
    <label for="name">Child Name</label>
    <input type="text" id="name" placeholder="Enter your Child's Name">
</div>
<form action="#">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3>Payment Details</h3>
          <div class="inputBox">
    <label for="name"></label>
    <img src="/public/assets/images/images (2).jpeg" width="100" height="100" alt="">
    <img src="/public/assets/images/download (3).jpeg" width="150" height="100" alt="">
    <img src="/public/assets/images/images.png" width="150" height="120" alt="">
        </div>
        <div class="table">
            
        </div>

    </div>
</div>
</form>
   </div> 
</body>
</html>