doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title SitterPayment
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/sitterpayment.css')
.container
  h3  Payments 
  .row
    form(onsubmit='validationForm()' action='/sitterpayment' method='POST')
      .row
        .input-field.col
          label.form-label(for='fullName') FullName
          input.form-control#FullName(type='text' name='name' value='name')
          span#FullNameError.error
        br
        .row
          .input-field.col
            label.form-label(for='amount') Amount
            input.form-control#amount(type='number' name='amount' value='amount')
            span#amountError.error
        br
        .row
          .input-field.col
            label.form-label(for='paymentstatus') Paymentstaus
            input.form-control#amount(type='text' name='paymentStatus' value='paymentStatus')
            span#paymentstatusError.error
          br
          div
            button.btn.btn-primary(type='submit') Edit
script(src='/js/validation.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
