<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link href="/public/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/signup.css">
</head>
<body>

  <h2>WELCOME TO DAYSTARDAYCARE</h2>
  <p>
    At daystar daycare we believe that GOD is love and we extend that affection, passion and compassion
    to the children entrusted to us
  </p>
  <img src="/public/assets/images/EKEN DAYSTAR.png" alt="Logo" width="150" height="150">


  

  <div class="container">
    <h3>Sign Up</h3>
    <div class="row">
      <form class="col" id="myform">
        <div class="row">
          <div class=" input-field col">
          <label class="form-label" for="fullName">Name</label>
          <input type="text" name="Full Name" id="Full Name"/>
          <span class="helper-text"></span>
          </div>
          <br>

          <label  for="gender " > </label>
            <select id="gender" name="gender">
            <option value="">GENDER</option>  
            <option value="male">male</option>
            <option value="female">female</option>
            </select>
          </div>
            <br>

          <div class="row">
            <div class=" input-field col">
            <label class="form-label"    for="EducationBackGround">Education Background</label>
            <input type="text" name="EBG" id="EBG"/>
            <span class="helper-text"></span>
          </div>
            <br>

            <div class="row">
              <div class=" input-field col">
              <label class="form-label"  for="placeofresidence">Place of Residence</label>
              <input type="text" name="Place of Residence" id="RoP"/>
              <span class="helper-text"></span>
            </div>
              <br>

              <div class="row">
                <div class=" input-field col">
                <label class="form-label" for="workingexprience">Working Exprience</label>
                <input type="text" name="Working Exprience" id="WE"/>
                <span class="helper-text"></span>
              </div>
                <br>

                <div class="row">
                  <div class=" input-field col">
                  <label class="form-label" for="email">Email</label>
                  <input type="text" name="Email" id="Email"/>
                  <span class="helper-text"></span>
                </div>
                  <br>

                  <div class="row">
                    <div class=" input-field col">
                    <label class="form-label" for="password">Password</label>
                    <input type="Password" name="Password" id="Password"/>
                    <span class="helper-text"></span>
                  </div>
                    <br>

                    <div class="row">
                      <div class=" input-field col">
                      <label class="form-label" for="password">Confirm Password</label>
                      <input type="Password" name="Confirm Password" id="Confirm Password"/>
                      <span class="helper-text"></span>
                    </div>
                      <br>

                      <div>
                        <button class="btn btn-primary"  type="submit">SignUp</button>
                    </div>

                    

        </div>
      </form>
    </div>
  </div>

  



  <script src="/public/js/signup.js"></script>
  <script src="/public/assets/bootstrap/js/bootstrap.bundle.js"></script> 
</body>
</html>