doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Up
  link(href='/assets/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/signup.css')
h2 WELCOME TO DAYSTARDAYCARE
p
  | At daystar daycare we believe that GOD is love and we extend that affection, passion and compassion
  | to the children entrusted to us
img(src='/assets/images/EKEN DAYSTAR.png' alt='Logo' width='150' height='150')
.container
  h3 Sign Up
  .row
    form(onsubmit='validationForm()' action='/Adminregister' method='POST')
      .row
        .input-field.col
          label.form-label(for='fullName') Name
          input#FullName(type='text' name='fullName')
          span#FullNameError.error
        br
        label(for='gender ') 
        select#gender(name='gender')
          option(value='') GENDER
          option(value='male') male
          option(value='female') female
        span#genderError.error
      br
      .row
        .input-field.col
          label.form-label(for='EducationBackGround') Education Background
          input#EBG(type='text' name='EBG')
          span#EBGError.error
        br
        .row
          .input-field.col
            label.form-label(for='placeofresidence') Place of Residence
            input#location(type='text' name='PlaceofResidence')
            span#RoPError.error
          br
          .row
            .input-field.col
              label.form-label(for='workingexprience') Working Exprience
              input#WE(type='text' name='WorkingExprience')
              span#WEError.error
            br
            .row
              .input-field.col
                label.form-label(for='email') Email
                input#email(type='text' name='email')
                span#EmailError.error
              br
              .row
                .input-field.col
                  label.form-label(for='password') Password
                  input#Password(type='Password' name='Password')
                  span#PasswordError.error
                br
                .row
                  .input-field.col
                    label.form-label(for='password') Confirm Password
                    input(type='Password' name='ConfirmPassword' id='ConfirmPassword')
                    span#ConfirmPasswordError.error
                  br
                  div
                    button.btn.btn-primary(type='submit') SignUp
script(src='/js/signupvalidation.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
