<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sitter's</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/sitters.css">
</head>
<body> 

   <nav class="navbar navbar-expand-lg custom-bg-color">
    <div class="container-fluid">
      <a class="navbar-logo" href="#">
        <img src="/public/assets/images/EKEN DAYSTAR.png" alt="Logo" width="150" height="150" class="d-inline-block align-text-top">
       </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="image-container" id="offcanvasNavbarLabel">#</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/views/splashscreen.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/babbies.html">Babies</a>
            </li>
        </div>
      </div>
    </div>
  </nav>

<div id="main">
<div id="container">
  <div id="rol"></div>
  <h5>SITTERS FORM</h5>
<form action="sitters.html" id="submit" class="entry-form">
  <div class="input"> 
<label for="sitters-name"> </label>
<input type="text" class="sitters-text-form" placeholder="FULLNAME" name="entername"> 
</div><br>

<div class="form-group">
<label for="sitters-age" ></label>
<input type="number" class="sitters-text-form" placeholder="AGE" name="sitter'sname" >
</div><br>

<div class="form-group">
<label for="gender " > </label>
<select id="gender" name="gender">
<option value="">GENDER</option>  
<option value="male">male</option>
<option value="female">female</option>
</select>
</div><br>

<div class="form-group"></div>
<label for="education-background" > </label>
<input type="text" class="sitters-text-form" placeholder="EDUCATION BACKGROUND" name="academicprogress">
</div> <br>

<div class="form-group">
<label for="location" > </label>
<input type="text" class="sitters-text-form" placeholder="LOCATION" name="placeofresidence">
</div><br>

<div class="form-group">
<label for="contact" > </label>
<input type="text" class="sitters-text-form" placeholder="CONTACT" name="phoneno.">
</div><br>

<div class="form-group">
  <label for="ninno." > </label>
  <input type="text" class="sitters-text-form" placeholder="NINno." name="idno.">
  </div><br>
  

<div class="form-group">
<label for="next-of-kin" > </label>
<input type="text" class="sitters-text-form" placeholder="NEXT OF KIN" name="nextofkin">
</div><br>

<div class="form-group">
  <label for="next-of-kin's-contact" > </label>
<input type="text" class="sitters-text-form" placeholder="NEXT OF KIN'S CONTACT" name="phonenumber">
</div><br>

<div class="form-group">
<label for="recommender'sitters-name"> </label>
<input type="text" class="sitters-text-form" placeholder="RECOMMENDER'S NAME" name="referees">
</div><br>

<button class="btn-primary" type="submit">register</button>
</form>
</div>
      <script src="../javascript/sitters.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
    </html>