<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sitter's</title>
  <link href="/public/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/sitters.css">
</head>
<body> 


<div id="main">
<div id="container">
  <div id="rol"></div>
  <h5>SITTERS FORM</h5>
<form action="sitters.html" id="submit" class="entry-form">
  <div class="input"> 
<label for="sitters-name"> </label>
<input type="text" class="sitters-text-form" placeholder="FULLNAME" name="fullname"> 
</div><br>

<div class="form-group">
<label for="sitters-age" ></label>
<input type="number" class="sitters-text-form" placeholder="AGE" name="age" >
</div><br>

<div class="form-group">
<label for="gender "></label>
<select id="gender" name="gender">
<option value="">GENDER</option>  
<option value="male">male</option>
<option value="female">female</option>
</select>
</div><br>

<div class="form-group"></div>
<label for="education-background" > </label>
<input type="text" class="sitters-text-form" placeholder="EDUCATION BACKGROUND" name="academicprogress">
</div> <br>

<div class="form-group">
<label for="location" > </label>
<input type="text" class="sitters-text-form" placeholder="LOCATION" name="placeofresidence">
</div><br>

<div class="form-group">
<label for="contact" > </label>
<input type="text" class="sitters-text-form" placeholder="CONTACT" name="phoneno.">
</div><br>

<div class="form-group">
  <label for="ninno." > </label>
  <input type="text" class="sitters-text-form" placeholder="NINno." name="idno.">
  </div><br>
  

<div class="form-group">
<label for="next-of-kin" > </label>
<input type="text" class="sitters-text-form" placeholder="NEXT OF KIN" name="nextofkin">
</div><br>

<div class="form-group">
  <label for="next-of-kin's-contact" > </label>
<input type="text" class="sitters-text-form" placeholder="NEXT OF KIN'S CONTACT" name="phonenumber">
</div><br>

<div class="form-group">
<label for="recommender'sitters-name"> </label>
<input type="text" class="sitters-text-form" placeholder="RECOMMENDER'S NAME" name="referees">
</div><br>

<button class="btn-primary" type="submit">register</button>
</form>
</div>
      <script src="/public/js/sitters.js"></script>
      <script src="/public/assets/bootstrap/js/bootstrap.bundle.js"></script>
    </body>
    </html>