doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title splashscreen
  link(href='/assets/boostrap/css/boostrap.css')
  link(rel='stylesheet' href='/css/splash.css')
#main
  #navbar
    ul
      il
        a(href='/views/login.html') Login
  h1 WELCOME TO DAYSTARDAYCARE
  p
    | At daystar daycare we believe that GOD is love and we extend that affection, passion and compassion
    | to the children entrusted to us
  #content
    #left
      img(src='/assets/images/EKEN DAYSTAR.png')
      p
    #right
      img(src='/assets/images/isgyu.jpg')
  #footer 
    a(href='/views/signup.html') Signup 
script(src='/assets/bootstrap/js/bootstrap.bundle.js/splashscreen.js')
