body{
    padding: 0%;
    margin: 0%;
    background-image: url(/public/assets/images/child-3610637_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-bg-color{
    background-color: rgb(173, 90, 250);
           
}

#main{
    background-color: rgb(160, 62, 252);
    margin-top:40px ;
    margin-left:550px ;
    padding-top: 20px;
    width: 20%;
    border-radius: 0px;
}


h5{
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: rgb(50, 3, 94);

}

p{
    background-color: beige;
    padding-bottom: 5%;
    margin: 0;
    text-align: center;
    color: rgb(42, 3, 78);
} 

.container{
          max-width: 50%;
          margin-left: 50%;
          padding-top: 25px 50px;
          background: scroll;
} 

input[type="text"]{
            margin: 0px 35px ;
            width: 80%; 
            height: 30px;
            border-radius: 10px;
} 

input[type="number"]{
           margin: 0px 35px;
           width: 80%; 
           height: 30px;
           border-radius: 10px;
}

select[id=gender]{
    margin:0px 35px;
    width: 80%; 
    height: 30px;
    border-radius: 10px;
}

button[class="btn-primary"]{
    background-color:#720C99;
    color: beige;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    margin:0px 100px ;
}



