body{
    padding: 0%;
    margin: 0%;
    background-image: url(/images/alphabet-word-images-1293193_640.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-bg-color{
    background-color: rgb(243, 9, 204);
    
        
}


#main{
    background-color: #FFB0EA;
    margin: auto;
    padding-top: 20px;
    width: 60%;
}


h5{
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: blueviolet;

}

p{
    background-color: beige;
    padding-bottom: 5%;
    margin: 0;
    text-align: center;
    color: blueviolet;
} 

.container{
          max-width: 50%;
          margin-left: 50%;
          padding-top: 25px 50px;
          background: scroll;
} 

input[type="text"]{
            margin: 0px 70px ;
            width: 80%; 
            height: 50px;
            border-radius: 10px;
} 

input[type="number"]{
           margin: 0px 70px;
           width: 80%; 
           height: 50px;
           border-radius: 10px;
}

select[id=gender]{
    margin:0px 70px;
    width: 80%; 
    height: 50px;
    border-radius: 10px;
}

button[class="btn-primary"]{
    background-color: rgb(243, 9, 204);
    color: rgb(5, 171, 248);
    width: 100px;
    height: 60px;
    border-radius: 20px;
    margin:0px 350px ;
}



